<div class="container mt-2">
   <div class="card" *ngIf="customers else errorLoading" >
    <div class="card-header">Customers</div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
        <div class="input-group">
          <label class="input-group-text">Name</label>
          <input type="text" formControlName="keyword" class="form-control">
          <button class="btn btn-info" type="submit">Search</button>
        </div>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th><th>Name</th><th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button class="btn btn-danger" (click)="handleDeleteCustomer(c)">Delete</button>
          </td>
          <td>
            <button class="btn btn-success" (click)="handleCustomerAccount(c)">Accounts</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
     <ng-template #errorLoading >
    <ng-container *ngIf="errorMessage else loading">
  <div class="card alert alert-danger" *ngIf="errorMessage; else loading">{{errorMessage}}</div>
    </ng-container>
  </ng-template>
  <ng-template #loading>
    <ng-container>
    Loading ....
    </ng-container>
  </ng-template>

</div>
